:root {
    /* Tomorrow color scheme */
    --base00: #ffffff;
    --base01: #e0e0e0;
    --base02: #d6d6d6;
    --base03: #8e908c;
    --base04: #969896;
    --base05: #4d4d4c;
    --base06: #282a2e;
    --base07: #1d1f21;
    --base08: #c82829;
    --base09: #f5871f;
    --base0A: #eab700;
    --base0B: #718c00;
    --base0C: #3e999f;
    --base0D: #4271ae;
    --base0E: #8959a8;
    --base0F: #a3685a;

    
    /* Countdown */
    --width: 128px;
    --stroke-width: 32px;
    --PI: 3.1415;
    --r: calc(var(--width) / 2 - var(--stroke-width));
    --d: calc(var(--r) * 2);
    --stroke-dasharray: calc(var(--PI) * var(--d));  /* 113px; */
}

label,
input,
select {
    float: left;
    clear: both;
}


/* Countdown */
figure {
    position: relative;
    clear: both;
    margin: auto;
    height: var(--width);
    width: var(--width);
    text-align: center;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--width);
    height: var(--width);
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: var(--stroke-dasharray);
    stroke-dashoffset: 0;
    fill: none;
    stroke: var(--base08);
    stroke-width: var(--stroke-width);

}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    } to {
        stroke-dashoffset: var(--stroke-dasharray);
    }
}
